<div class="chat-container">
  <div class="chat-header">
    Chat em Tempo Real
  </div>

  <div class="chat-mensagens" #scrollContainer>
    @for (mensagem of response?.Registros; track $index) {
    <div class="message" [ngClass]="mensagem.Usuario?.Id == idUsuarioLogado ? 'user-message' : 'other-message'">
      <div class="message-content">
        {{ mensagem.Conteudo }}
        <div class="message-info">
          {{ mensagem.Usuario?.Nome }}
        </div>
      </div>
    </div>
    }
  </div>

  <div class="chat-input">
    <input type="text" [formControl]="conteudoFormControl()" placeholder="Digite sua mensagem..." />
    <button (click)="enviarMensagem()">Enviar</button>
  </div>
</div>